.profile-img-card 
{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 10%;
}

#addBut
{
    padding-top: 10px;
}
.modal
{
    padding-left: 17px;
}